[2018-12-05 20:23] halil-erdogan opened #1 "Uncommon Notes"
**Summary:**
We have many uncommon Koma53 value in our database.
![Alt Text](https://docs.google.com/uc?id=1AdKjFs82IDEkir0-aUGC3Mhg3lXtq4QT)

**Reason:**
They can not be learned by neural networks.

**Steps:**
- We can try KomaAe
- We can map these values to common value via musicological information
- We can map these values to common value via statistical way.

**Outcome:**
We will come up with

[2018-12-05 20:33] sertansenturk opened #2 "Add ticket templates"
**Reason**
Zenhub allows us to use a template for each type of ticket. This functionality will 1) make ticket creation simpler & faster, 2) ensure the Definition of Ready is followed for each ticket type.

**Design**
- Create a template for each type of ticket decided in DOR.
- Create empty sections in the template description
    - Fill out the section description/key information that should be i

[2018-12-05 20:37] sertansenturk opened #3 "Management Tickets"

[2018-12-06 06:35] barisbozkurt commented on #1
Well, this is microtonal music and it is agreed by most scholars that one needs more than 30 notes in an octave to be able represent all possible pitches for all makams. Reducing that dimension will end up in poor synthesis quality.

Here are some options:
- you can restrict the makam set: just pick 8-10 makams for experimentation as proof of the concept (rast, mahur, segah, hüzzam, saba, hicaz, h

[2018-12-06 21:08] halil-erdogan opened #4 "Mock Training"
**Summary:**
Create and train LSTM baseline with small dataset.

**Reason:**
To check can the LSTM baseline create output.

**Steps:**
- Preprocess dataset to get appropriate format for input.
- Build simple LSTM baseline.
    - We will use [this method](https://medium.com/@david.campion/text-generation-using-bidirectional-lstm-and-doc2vec-models-1-3-8979eb65cb3a) which is based on [François Choll

[2018-12-09 11:56] sertansenturk opened #5 "Create roadmap"
**One-line summary (optional)**

**Reason**

**Design**

**Acceptance Criteria**

**Outcome**
- Clarify the deliverables (scripts, process etc.) and documentation, if applicable.

[2018-12-09 12:03] sertansenturk opened #6 "Learn Zenhub milestones usage as sprint"
In Zenhub Agile Sprints are analogous to the Github milestones. Learn how to use them.

**Actions**

Read these support articles below:

https://help.zenhub.com/support/solutions/articles/43000010815
https://help.zenhub.com/support/solutions/articles/43000010360

and complete the scope of #9 accordingly.

[2018-12-09 12:06] sertansenturk opened #7 "Organize labels into tasks and priorities"
Convert the Github labels into Agile tasks
**Reason**
Github labels by themselves are not really useful. By mapping them to the (subset of) Agile tasks & priorities, we can simplify the communication and understand the scope of the tickets across people.

**Design**
Remove all labels. Create the labels below. Note that the labels/tasks can change, if we feel they are not adequate.

| Type | Name

[2018-12-09 15:13] halil-erdogan opened #8 "Koma53 Transition Matrix"
**Summary:**
Crease Transition Probabilities Matrix for Koma53 within Koma--Sarki datas.

**Reason:**
We can understand our data better. Also, we can compare generated datas with original datas via this metric.

**Steps:**

- Create matrix to represent transitions. I can use [this code.](https://stackoverflow.com/questions/46657221/generating-markov-transition-matrix-in-python)
- Visualize the mat

[2018-12-10 01:24] sertansenturk opened #9 "Create Sprint 0"
Create the 0th sprint using the milestone feature

**Reason**
Working in short, Agile sprints would make us more focused, allow us to estimate our goals, and track our progress easily.

**Design**
- Open a milestone and name it as Sprint 0.
-- Set the start & end dates to 2-15 December.
-- Assign any additional meaningful parameters
- Enable burndown charts etc.
- Move the relevant tickets to Spri

[2018-12-10 01:27] sertansenturk opened #10 "Organize Pipelines"
Create and organize a first draft of the swimlanes to be used in the board

**Reason**
Swimlanes (pipeline in Zenhub terminology) allow us to track the state of each ticket, communicate the cross-team actions, and be consistent with the progress.

The best practice would be to decide the pipeline order and requirements to move the tickets together. Since it would be difficult to gather everyone be

[2018-12-10 22:04] #6 closed, assigned to sertansenturk

[2018-12-11 11:13] hedonistrh opened #11 "Provide Conda Environment"
**Summary:**
Provide Conda environment.

**Reason:**
To get same environment and reproduce results easily.

**Steps:**
- Create new Conda environment.
- Install required packages into this environment.
- Export my active environment to a new file.
Note: Follow [this guide.](https://conda.io/docs/user-guide/tasks/manage-environments.html)

**Outcome:**
We will come up with the conda environment. Al

[2018-12-11 22:31] #9 closed, assigned to sertansenturk

[2018-12-12 00:52] sertansenturk opened #12 "Definition of Ready"
Define what we deem as a ticket ready to be worked on.

**Reason**
The team should have a consensus on what the contents and minimum requirements of a ticket before we consider as ready. This solves many communications issues such as understanding the scope of a work, discrepancies in deliverables, amount of time needed to spend on a task.

**Design**
The best practice would be to decide the defin

[2018-12-12 00:53] sertansenturk opened #13 "Definition of Done"
Define what we deem as a done ticket

**Reason**
The team should have a consensus on what criteria to be met for different types of tickets. Similar to DOR, DOD solves many communications issues such as understanding the scope of a work, discrepancies in deliverables, the rigor that should be put to finish a task.

**Design**
The best practice would be to decide the definition of done (DOD) togeth

[2018-12-12 00:54] sertansenturk opened #14 "Estimations"
**One-line summary**
Determine how we estimate the velocity of the tickets

**Reason**
We need to get a agreement how we measure the difficulty/time needed etc. for a ticket

**Design**
- Set a meeting with with @hedonistrh.
- Explain him different estimation methods (points, t-shirt size etc.).
- Whichever method is selected, define how we understand different velocities.

**Acceptance Criteria**

[2018-12-15 12:21] #7 closed, assigned to sertansenturk

[2019-01-01 21:35] hedonistrh commented on #12
I have read [wiki entry for DOR.](https://github.com/hedonistrh/TurkishMusicGeneration/wiki/Definition-of-Ready) It contains whole details which have been discussed. At that point we can close this issue, however, we can add some details within the project duration.

[2019-01-01 21:42] hedonistrh commented on #13
Thanks for the documentation. 🙏

I have read [wiki entry for DOD.](https://github.com/hedonistrh/TurkishMusicGeneration/wiki/Definition-of-Done) It contains whole details which have been discussed and explains clearly what we need to say _it is done. Thus, we can close this issue at this point.

[2019-01-01 21:54] hedonistrh commented on #10
Thanks for the documentation. 🙏

I have read [wiki entry for Swimlane.](https://github.com/hedonistrh/TurkishMusicGeneration/wiki/Swimlanes) It contains whole details which have been discussed and explains clearly how we manage the whole process via our swim lane organization. Thus, we can close this issue at this point.

[2019-01-02 00:12] #10 closed

[2019-01-02 00:12] #12 closed

[2019-01-02 00:12] #13 closed

[2019-01-02 00:15] #2 closed

[2019-01-02 08:46] sertansenturk commented on #14
@hedonistrh can you review the comment above?

[2019-01-05 15:48] hedonistrh commented on #14
Thanks for the documentation. @sertansenturk  🙏

These points' explanations is the same as what we agreed on our Skype meeting. Thus, we can close this issue at this point.

[2019-01-05 15:54] #14 closed

[2019-01-26 21:37] hedonistrh commented on #4
I have uploaded jupyter notebook and created pull request which is called as _Mock Training._ @sertansenturk May you review it? :)

[2019-02-07 21:37] hedonistrh opened #19 "Review of Open Source Projects"
**One-line summary (optional)**
We will prepare review of open source project which is about Music Generation.

**Reason**
We will use existing architectures-methods for our project if applicable.

**Design**
We will start with our existing literature review and check if their code is available or not. If available, we will also check the paper to understand methods. With these informations, we wi

[2019-02-07 21:49] hedonistrh opened #20 "Evaluation Metrics"
**One-line summary**
Create a summary for evaluation metrics.

**Reason**
We need to understand our networks can or can not capture-imitate the style of Turkish Music.

**Design**
We already discussed some metrics at our first meeting. _(I will add them as a comment in this issue)_

- We will start with existing works to understand what they use to evaluate their generation. But, they are related

[2019-02-07 21:49] hedonistrh commented on #20
Some candidates for evaluation metrics:
- Note distribution
- A song’s length
- Long term structure (for instance AABA)
- A note-to-note transition
- Perplexity/Cross Entropy
- Makam Classification
- Usul Classification
 - User studies
- Note Distribution of the first section, second section etc.

[2019-02-07 23:24] sertansenturk opened #21 "Decide the makam and usuls in the dataset"
**Reason**
We have to decide which makams & usuls to include in the dataset so that we can have a focused but representative dataset.

**Design**
In the latest version of the SymbTr dataset.
- Read the score names, which are in the form makam--form--usul--name--composer
   - Extract the makam and usul from the score name
   - List the 20 most common makams
   - Select the scores in these makams an

[2019-02-07 23:29] sertansenturk opened #22 "Dataset Tickets"
Tickets related to dataset, e.g. creation, exploration, storage management

**Don't forget to**
- Link related tickets

[2019-02-07 23:30] sertansenturk opened #23 "Create dataset v0.1"
**One-line summary (optional)**
Create the first version of the dataset according to the investigation done in #21.

**Reason**
We need the dataset to make structured experiments.

**Design**

Modify the Jupyter notebook created for #21 to generate the dataset. Fetch the relevant scores in all formats except pdf. The folder structure should be the same as SymbTr for convenience.

We may create a n

[2019-02-11 01:45] sertansenturk commented on #21
The number of scores in top makams are:

| makam | count|
|---|---|
| hicaz | 157 |
| nihavent | 130 |
| ussak | 118 |
| rast | 109 |
| huzzam | 97 |
| huseyni | 92 |
| segah | 92 |
| mahur | 88 |
| hicazkar | 79 |
| kurdilihicazkar | 70 |
| muhayyer | 67 |
| saba | 66 |
| acemasiran | 63 |
| beyati | 62 |
| buselik | 57 |
| karcigar | 53 |
| ~hicaz_humayun~ | ~38~ |
| ~acemkurdi~ | ~37~ |
| ~evic

[2019-02-11 06:30] barisbozkurt commented on #21
Thanks Sertan. I suggest use of top 8 makams, kurdilihicazkar is a compound makam which will create lots of confusions. The folowing makams are related/close in the top 8: uşşak-hüseyni, rast-mahur,  hüzzam-segah.

I agree with the use of top 4 usuls.

[2019-02-11 08:28] sertansenturk commented on #21
Thank you Baris. You might have received a scheduled e-mail a few minutes ago, which was asking the questions you have answered above. Please ignore the e-mail.

 I'll start preparing the dataset in the evening.

[2019-02-12 08:56] sertansenturk commented on #21
There are 451 scores in total. Below are the makam/usul/form counts:

| | count |
| - | - |
| hicaz | 78 |
| nihavent | 64 |
| ussak | 61 |
| huzzam | 53 |
| mahur | 51 |
| rast | 51 |
| huseyni | 48 |
| segah | 45 |

| | count |
| - | - |
| aksak | 139 |
| duyek | 124 |
| sofyan | 114 |
| curcuna | 59 |
| kapali_curcuna | 15 |

I have also added the scores in kapali_curcuna, which is - as far as

[2019-02-12 09:13] barisbozkurt commented on #21
'Form' side of the story is complex, the choice will be very much target and model dependent. For the moment, let's start by incşuding everything

[2019-02-12 10:19] sertansenturk commented on #20
How many points is this ticket?

[2019-02-12 11:01] hedonistrh commented on #20
Sorry for my mistake. :) I would like to assign 5 point, if it is fine for you.

[2019-02-12 11:02] hedonistrh commented on #19
I would like to assign 5 point, if it is fine for you. @sertansenturk

[2019-02-12 13:33] hedonistrh commented on #20
[This paper](http://www.musicinformatics.gatech.edu/wp-content_nondefault/uploads/2018/11/postprint.pdf) can be helpful. I will investigate it.

[2019-02-13 08:53] sertansenturk commented on #21
Thank you for the clarifications. I'm closing this issue and continue with #23 in the evening.

[2019-02-13 08:53] #21 closed

[2019-02-21 08:05] sertansenturk commented on #23
The dataset repo is created: https://github.com/sertansenturk/otmm_generation_dataset/

- The Jupyter notebook walks through the score selection and the dataset creation steps. Currently, we are not uploading any music scores as we still haven't figured out the needed formats.

- `metadata.json` stores all the selected scores, as well as some additional metadata.

@magdalenafuentes, @hedonistrh :

[2019-02-21 08:07] sertansenturk commented on #11
@hedonistrh Given the spikes you are working on this sprint, it looks this ticket is not relevant anymore. I say, let's keep the pull request open for now, but close this ticket. What do you think?

[2019-02-21 08:12] sertansenturk commented on #4
@hedonistrh we are not currently working on this ticket, but the work you have done could be useful in the future.

I think we should keep the pull request open for now, and move the ticket back to the Backlog. What is your opinion?

[2019-02-21 08:14] sertansenturk commented on #19
@hedonistrh is there any work left to do from your side, or are you simply waiting for the reviews. If it's the latter, could you move the ticket to "Under review"?

[2019-02-21 08:15] sertansenturk commented on #20
@hedonistrh is there any work left to do from your side, or are you simply waiting for the reviews. If it's the latter, could you move the ticket to "Under review"?

[2019-02-21 23:07] hedonistrh commented on #19
I was planning to add more metrics. But, I think those metrics will be enough at that point. So that, I move the ticket to _Under Review_ :) @sertansenturk

[2019-02-21 23:10] hedonistrh commented on #20
I was planning to add more metrics. But, I think those metrics will be enough at that point. So that, I move the ticket to _Under Review_ :) @sertansenturk

[2019-02-21 23:11] hedonistrh commented on #4
I agree with you. I move ticket to _backlog._ @sertansenturk

[2019-02-21 23:13] hedonistrh commented on #11
Yes, I agree with you. If we need to create our own model, we can try again _Conda_ or just switch to _Docker_ 💯

[2019-02-21 23:13] #11 closed

[2019-02-24 17:42] hedonistrh opened #26 "How we use SymbTR with MelodyRNN(Magenta)?"
**Reason**
- [MelodyRNN](https://github.com/tensorflow/magenta/blob/master/magenta/models/melody_rnn/melody_rnn_model.py) currently does not work with SymbTR dataset.
- MusicXML does not work.
- Half of the .midi files give _polyphony exception._

**Design**
- Try to understand which files work which do not.
- If we can not figure out any relation, we can try to manipulate source code for polyphon

[2019-02-24 18:10] hedonistrh commented on #26
- _huzzam--sarki--aksak--vefa_yoktur--tanburi_mustafa_cavus.mid_  works **ok**
- _hicaz--sarki--curcuna--ruya_gibi--avni_anil.mid_ works **ok**
- _hicaz--sarki--aksak--gormedim_omrumun--kadri_sencalar.mid_ gives **exception**
- _huzzam--sarki--curcuna--aksam_donusu--udi_marko_colakoglu.mid_ works **ok**
- _karcigar--sarki--semai--vah_meyus-i--mahmud_celaleddin_pasa.mid_ gives **exception**

[2019-02-24 18:56] sertansenturk commented on #26
Some of the scores in the above list are not part of the dataset. Can we
restrict this ticket to the scores so we use your efforts efficiently?

On Sun, Feb 24, 2019, 18:10 Halil Erdoğan <notifications@github.com> wrote:

[2019-02-24 21:11] hedonistrh commented on #26
I am trying to get understand the reason behind the problem. So, I think, at that step, it does not matter so much. For the next step, I will stick with our scores. 💯

[2019-02-24 21:37] hedonistrh commented on #26
I will try to read midi files via [Music21](http://web.mit.edu/music21/) as I did before for [my _bestekar_ project.](https://github.com/hedonistrh/bestekar/blob/master/preprocess.ipynb) Maybe, we can understand the reason with that. 🖌

[2019-02-24 22:04] hedonistrh commented on #26
Most interesting part is that why [_huzzam--sarki--curcuna--aksam_donusu--udi_marko_colakoglu.mid_](https://github.com/MTG/SymbTr/blob/master/midi/huzzam--sarki--curcuna--aksam_donusu--udi_marko_colakoglu.mid) works and gives no exception. 🤔

![image](https://user-images.githubusercontent.com/34948815/53305797-1fb15800-3886-11e9-9264-6ffa7c05d8cd.png)

Also, when I check with _music21_, I realized

[2019-02-24 22:27] hedonistrh commented on #26
I just changed the source code of [Magenta's melody converter.](https://github.com/tensorflow/magenta/blob/master/magenta/music/melodies_lib.py)

line237 was:
[code]
new:
[code]

However, it does not change the result. I will focus this tomorrow. 🛌

[2019-02-25 14:25] magdalenafuentes commented on #26
Hi @hedonistrh

I'm a bit lost about what you could successfully do and what you couldn't:
Did you reproduce their results with any of magenta's models? (i.e. generate a melody with base_nn?)
When you say the model fails, it means it's skipping files and training with a few files? Or not training at all?
Are you following [this?](https://github.com/tensorflow/magenta/blob/master/magenta/scripts/RE

[2019-02-25 14:59] hedonistrh commented on #26
Hey @magdalenafuentes , thanks for comment. I agree with you. This is quite confusing. :)

- Exactly, I am following Magenta guide. :100:
- We can generate melody with their dataset.
- With SymbTr's midi, we can also generate. But, some of SymbTr files gives _polyphony_ exception. I am trying to understand reason behind that. If we can, hopefully, we can solve the problem. If it does not work, we

[2019-02-25 15:06] magdalenafuentes commented on #26
Thanks @hedonistrh !

It will be useful to know the numbers, i.e. the amount of files that launch the exception over total files (always talking about the files in @sertansenturk [dataset](https://github.com/sertansenturk/otmm_generation_dataset)).

About converting MIDI/MusicXML to Note Sequence, are you doing that? Is there where you get the exceptions? Or what are you using as input to the mode

[2019-02-25 15:23] hedonistrh commented on #26
- We can not use MusicXML, because of different accidental in Makam Music.
- We got that exception, when I was trying midi as input to **create dataset** command.

[2019-02-25 20:48] hedonistrh commented on #26
Results from **selected midis**

![image](https://user-images.githubusercontent.com/34948815/53367646-03c1bb00-3947-11e9-931c-23d65ea1781b.png)

I will try to understand **source code**. If we can not figure out the solution until end of Wednesday, maybe we should skip Magenta RNN at that point. 🛌

[2019-02-25 21:21] hedonistrh commented on #26
We should focus on [melody rnn's pipeline](https://github.com/tensorflow/magenta/blob/master/magenta/models/melody_rnn/melody_rnn_pipeline.py). But, the docker file contains old scripts which is from 2016 or 2017. 😪

I modified:

- [x] melody_pipelines.py
- [x] melody_rnn_create_dataset.py

But, it gives some exception. 😞 Maybe, we can manipulate our midi files via _music21_ 👍 I think, our best mo

[2019-02-25 23:57] sertansenturk commented on #19
I merged the pull request. You may close this ticket...

[2019-02-26 07:55] #19 closed

[2019-02-26 09:23] sertansenturk commented on #26
As before: please give it a try but do not lose a lot of time.

If music21 does not work, the page Magdalena has pointed mentions that we
can use the ABC notation too. As we talked before Seymour Shilen has
converted all symbtr scores to the ABC format.

If that does not work we have to write our own code convert the note
information in Symbtr-txt scores to Magenta's noteSequence. If it's going
to

[2019-02-26 10:06] magdalenafuentes commented on #26
I agree with @sertansenturk. I would pick literally a couple of examples that the code skips, modify them with music21, and see if it works. If it does, do the same with the rest. If not, let us know and we can think of something else.

On top of that, a couple of questions:
1-  I don't completely understand the image you're sharing. Is the code being able to correctly parse 415 melodies and skipp

[2019-02-26 10:29] barisbozkurt commented on #26
Just a suggestion: investing in music21 may result in time loss. Tweaking it is not straight-forward, it is very much western music oriented/designed. It is very nicely packed in an object oriented style, one needs to dismount many components to make modifications (unless you agree to build everything on top of western music). ABC would be a better option. If that does not work, writing new file r

[2019-02-26 10:57] hedonistrh commented on #26
Thanks for the suggestion.

@sertansenturk I would like to try music21 firstly. After that, we can talk about ABC notation.

@magdalenafuentes
- Each melody corresponds one midi file
- I have not trained it. When I have time, I can try it.
- It parse 451 melodies(midi file) and produces 185 outputs. Other melodies gives different exceptions. (mostly polyphony)

@barisbozkurt What is the reason beh

[2019-02-26 11:55] barisbozkurt commented on #26
Where do you observe ployphony? if in music21, it could be a defect. I don't remember any issue related to polyphony.  You can open that midi file in audacity and the check the points where you observe multi-pitch

[2019-02-26 18:13] hedonistrh commented on #26
@barisbozkurt I am using Garageband to see midi files. One of the polyphonic segment in pink box.

![image](https://user-images.githubusercontent.com/34948815/53436039-83f52880-39fa-11e9-8d8c-ba996e0cd15b.png)

[2019-02-26 18:19] hedonistrh opened #29 "Music21-Midi Manipulation"
**One-line summary (optional)**
Try to manipulate our midi via Music21 to get rid of polyphony.

**Reason**
MagentaRNN gives exception for some of our datas.

**Design**
- Read the midi files via Music21
- Try to manipulate some part like delete etc. to get monophonic sequences
- Create new .midi file

**Acceptance Criteria**
- MelodyRNN should work with it.

**Outcome**
- Script for convert polyp

[2019-02-26 19:29] sertansenturk commented on #26
I suspect this is pitch bends for tuning adjustments. Either Garageband
cannot cope with it or that is a mistake during midi conversion.

I suspect the first because I have never heard such jumps when I listen to
the symbtr scores.

Halil, can you check if the same jump happens at the same location in
audacity too? Also can you indicate the score & the time stamp the jump
happens?

On Tue, Feb 26,

[2019-02-26 19:37] sertansenturk commented on #29
I think this should be a spike ticket rather than a feature: you still don't know if it's possible.

Once (and if) it's feasible then you should open another ticket to build the feature, which manipulate the scores. Could you edit the ticket accordingly with the correct spike DOR?

[2019-02-26 20:18] hedonistrh commented on #26
I think, same problem also occurs at Audacity.

<img width="862" alt="screen shot 2019-02-26 at 21 17 25" src="https://user-images.githubusercontent.com/34948815/53443430-fcb0b080-3a0b-11e9-80d9-36b5db2f436a.png">

[2019-02-26 20:27] sertansenturk commented on #26
Can you write the score name & the timestamp?

I think it's not a pitch bends but it's an embellishment (çarpma - hammer
on/off). I'd like to verify it personally...

On Tue, Feb 26, 2019, 20:19 Halil Erdoğan <notifications@github.com> wrote:

[2019-02-26 21:07] hedonistrh commented on #26
[_huzzam--sarki--curcuna--aksam_donusu--udi_marko_colakoglu.mid_](https://github.com/MTG/SymbTr/blob/master/midi/huzzam--sarki--curcuna--aksam_donusu--udi_marko_colakoglu.mid)

There are many timestamp in this file with the issue. 🦌

[2019-02-26 21:40] umutsimsekli commented on #26
They don't seem to be very important, can you get rid of them easily?

On Tue, Feb 26, 2019 at 10:07 PM Halil Erdoğan <notifications@github.com>
wrote:

[2019-02-26 22:12] hedonistrh commented on #26
_karcigar--sarki--semai--vah_meyus-i--mahmud_celaleddin_pasa.mid_ gives exception, however, I can not realized that any polyphony in the file with Garageband and music21. 🤔

Now, I think, we have 2 option

- [ ] Try use our LSTM model with same hyper-parameter of Magenta via our .txt files.

- [ ] Try to use ABC notation with MagentaRNN.

<img width="619" alt="screen shot 2019-02-26 at 23 10 26" s

[2019-02-27 05:38] barisbozkurt commented on #26
Sertan is right, very likely it could be "çarpma" and they can be discarded.

[2019-02-27 23:09] hedonistrh opened #30 "List the Files Which Works Ok or Not with MelodyRNN"
**One-line summary (optional)**
- List the files which works ok or gives exception with magenta

**Reason**
- We need to understand which file types works with magenta's input pipeline

**Design**
- Run the docker of MelodyRNN
- Gives file one by one and run the create dataset command. _(Files should be in selected dataset)_
- Check it works ok or gives exception.

**Outcome**
- List the file name

[2019-02-27 23:11] hedonistrh opened #31 "Investigate that how MelodyRNN handle the input"
**One-line summary (optional)**
- Try to understand wow MelodyRNN handle the input.

**Reason**
- .

**Design**
- Check the source code.

**Acceptance Criteria**
- At least one of the team member should understand the logic behind the input pipeline via my outcome.

**Outcome**
- Little summary about MelodyRNN's input pipeline.

[2019-02-28 15:55] hedonistrh commented on #26
According to their [source code](https://github.com/tensorflow/magenta/blob/master/magenta/music/midi_io.py) in their repo, they are using [pretty-midi](https://github.com/craffel/pretty-midi). Also, I will check our datas with that library. :+1:

[2019-02-28 21:42] hedonistrh commented on #26
List the files which gives exception or not. And their investigation via music21.

**Files gives exception**
- ussak--turku--sofyan--mevlam_bircok--malatya.mid _acc. to music21, polyphonic_
- rast--turku--sofyan--adananin_yollari--.mid _acc. to music21, polyphonic_
- hicaz--ilahi--duyek--icimde_bir--amir_ates.mid _acc. to music21, monophonic_
- huzzam--aranagme--duyek--1--.mid _acc. to music21, po

[2019-02-28 21:43] hedonistrh commented on #30
You can find the list in [this PR.](https://github.com/hedonistrh/TurkishMusicGeneration/issues/26#issuecomment-468449823) Lets close this issue. @sertansenturk @magdalenafuentes

[2019-02-28 21:44] hedonistrh commented on #29
According to [our experiment](https://github.com/hedonistrh/TurkishMusicGeneration/issues/26#issuecomment-468449823), manipulation will not be helpful. Lets close this issue. @sertansenturk @magdalenafuentes

[2019-02-28 22:54] hedonistrh opened #32 "Investigation about Pretty-Midi and SymbTR relation"
**One-line summary (optional)**
- Try to understand how pretty-midi will work with SymbTR's midi.

**Reason**
- MelodyRNN use pretty-midi

**Design**
- Use selected datas as an input of pretty-midi.

**Acceptance Criteria**
- .

**Outcome**
- .

[2019-02-28 23:31] hedonistrh opened #33 "Keep updated our review about literature"
**One-line summary (optional)**
- Add summary of different papers.

**Reason**
- I would like to keep update our review.

**Design**
- .

**Acceptance Criteria**
- .

**Outcome**
- Updated review. 👨‍🚀

- [ ] [GANSynth](https://magenta.tensorflow.org/gansynth)

- [ ] [DeepJ](https://arxiv.org/pdf/1801.00887.pdf)

- [ ] [Anticipation-RNN](https://link.springer.com/article/10.1007/s00521-018-3868-4)

[2019-03-01 21:59] hedonistrh commented on #26
_I wrote a script to check how pretty-midi visualize our datas._

**From my perspective, I can not understand why some of them works and some of them gives exception.**

**Results:**
_Gives Exception_
![image](https://user-images.githubusercontent.com/34948815/53668346-ead14680-3c73-11e9-96b0-f163f14103c9.png)

![image](https://user-images.githubusercontent.com/34948815/53668364-02103400-3c74-11e9

[2019-03-02 12:43] hedonistrh commented on #31
- In their [midi-io script](https://github.com/tensorflow/magenta/blob/master/magenta/music/midi_io.py#L86), they convert midis into [_ProtoBuffer_](https://developers.google.com/protocol-buffers/) via pretty-midi library.

- Polyphony exception related codes in [here](https://github.com/tensorflow/magenta/blob/master/magenta/music/melodies_lib.py).

- MelodyRNN pipeline in [here.](https://github.

[2019-03-02 12:43] hedonistrh commented on #32
I add some result into [this comment](https://github.com/hedonistrh/TurkishMusicGeneration/issues/26#issuecomment-468826543).

[2019-03-02 12:50] hedonistrh commented on #26
In their [midi-io script](https://github.com/tensorflow/magenta/blob/master/magenta/music/midi_io.py#L86), they convert midis into [_ProtoBuffer_](https://developers.google.com/protocol-buffers/) via [pretty-midi library.](https://github.com/craffel/pretty-midi)

I have not any experience with _ProtoBuffer._ So, its manipulation can be hard. **Also, we can convert all our midis into ProtoBuffer wi

[2019-03-02 22:20] #23 closed

[2019-03-02 22:20] #29 closed

[2019-03-02 22:20] #30 closed

[2019-03-03 12:40] hedonistrh commented on #32
Pretty midi works, however, melody-rnn's create dataset does not work as our expectation.

[2019-03-03 12:40] #32 closed

[2019-03-03 12:42] #31 closed

[2019-03-03 12:42] hedonistrh commented on #31
We can generate _protobuffer_ with our midis at the first step. But, when we want to create-dataset most of the file gives exception and we can not see them in the _protobuffer._

[2019-03-03 12:46] hedonistrh commented on #26
We can not use _MelodyRNN_. We are going to reproduce their architecture ourselves. We are planning to use _.txt_ files as our input.

[2019-03-03 12:46] #26 closed

[2019-03-03 12:49] hedonistrh commented on #20
Now, we have our [evaluation metrics.](https://github.com/hedonistrh/TurkishMusicGeneration/blob/master/review-evaluation-metrics.md) We will decide which ones are focused on at the next meeting.

[2019-03-03 12:49] #20 closed

[2019-03-03 13:05] magdalenafuentes commented on #26
The encoder-decoder interface for Magenta's melody models is [here](https://github.com/tensorflow/magenta/blob/master/magenta/music/melody_encoder_decoder.py), it is basically:

So, they are only considering pitch, beginning, end of notes (even though [pretty-midi encodes pitch-bend information  ](http://craffel.github.io/pretty-midi/#pretty-midi-note)).

I guess it's quite clear that the hack of

[2019-03-03 17:30] hedonistrh commented on #26
Hey @magdalenafuentes According to [this comment](https://github.com/tensorflow/magenta/issues/1438#issuecomment-468747599), there is no paper about Melody-RNN.

I think that we should not directly focus on standart midi notation. At that time, Koma53 value makes more sense for me.

[2019-03-03 17:34] hedonistrh opened #34 "Check architectures of FolkRNN and Melody-RNN"
**One-line summary (optional)**
- Learn the which architectures(layers, dropout rates etc.) are used by Melody-Rnn and FolkRNN.

**Reason**
- We would like to reproduce at least one of RNN based method.

**Design**
- Check their code.
- Read their paper.
- Create summary about the architectures

**Acceptance Criteria**
- At least one of the team member should accept my summary is same with the pap

[2019-03-03 17:37] halil-erdogan commented on #34
**Folk-RNN**
- [Paper](https://arxiv.org/pdf/1604.08723.pdf) and [Summary of the Paper](https://github.com/hedonistrh/TurkishMusicGeneration/blob/master/2018-10-10-Literature-Review-for-Music-Generation.md#3-music-transcription-modelling-and-composition-using-deep-learning)
- [Source Code](https://github.com/IraKorshunova/folk-rnn)

- _I can not find the how many samples are used to guess next sam

[2019-03-03 23:18] sertansenturk opened #35 "Methodology Tickets"
Ticket related to doing research on different methodologies & implementing them.

[2019-03-04 21:23] halil-erdogan commented on #34
If I am not wrong, for basic RNN, they give 102 note as input to guess next one. I use _TensorBoard_ to get this information via their Docker Image.

<img width="100" alt="screen shot 2019-03-04 at 22 19 05" src="https://user-images.githubusercontent.com/34948815/53763689-b35cd700-3ecb-11e9-82b3-1ff40c2da4bf.png">
<img width="100 alt="screen shot 2019-03-04 at 22 19 12" src="https://user-images.gi

[2019-03-05 20:47] halil-erdogan opened #36 "Convert Mock Training Notebook into Script"
**One-line summary (optional)**
- We have [Jupyter Notebook](https://github.com/hedonistrh/TurkishMusicGeneration/blob/02dda380c3ddce42ccdb304aaf69123a13dab83e/MockTraining.ipynb) which will be converted into scripted version.

**Reason**
- We would like to run our experiments at _Cluster_. Also, I would like to get rid of _Jupyter_ dependency.

**Design**
- Create different scripts for preprocess

[2019-03-05 21:48] halil-erdogan commented on #34
**For Folk RNN**, I have found different [paper.](https://core.ac.uk/download/pdf/55873381.pdf)

Now, we can, **hopefully**, reproduce their architecture. ⛱

[2019-03-09 12:33] halil-erdogan commented on #36
Now, I have completed all process in #37 After the review, we can merge it.

[2019-03-09 13:30] halil-erdogan commented on #34
This is the code snippet for Folk RNN with keras. [Config file](https://github.com/IraKorshunova/folk-rnn/blob/master/configurations/config5.py) - [Related paper](https://core.ac.uk/download/pdf/55873381.pdf) - [Train Code](https://github.com/IraKorshunova/folk-rnn/blob/master/train_rnn.py)

[code]

[2019-03-09 14:09] halil-erdogan commented on #34
Code snippet is ready for [basic_rnn](https://github.com/tensorflow/magenta/blob/master/magenta/models/melody_rnn/melody_rnn_model.py) 😋
- They use SparseSoftmaxCrossEntropyWithLogits.
- Adam as an optimizer.
- [BasicLstm](https://github.com/tensorflow/magenta/blob/01b59d352dd2928fb94630b751d2c8e893c8701c/magenta/models/shared/events_rnn_graph.py#L30) for the each layer. For more info about BasicL

[2019-03-09 14:56] halil-erdogan commented on #34
For [attention_rnn](https://github.com/tensorflow/magenta/blob/master/magenta/models/melody_rnn/melody_rnn_model.py#L193)
- They use mostly same hyperparameters with basic_rnn. Just Clip Norm is 3 and Attention Length is 40.
- Unfortunately, Keras has not _Attention wrapper_. So that, we can check [this issue](https://github.com/keras-team/keras/issues/4962) to use it or we can skip it.

Ps. For a

[2019-03-09 21:59] halil-erdogan opened #38 "Research about C-RNN-GAN's Implementation"
**One-line summary (optional)**
- Try their source code, if does not work, implement it. 🏭

**Reason**
- We would like to reproduce it.

**Design**
- Firstly try their source code directly with our midi
- If it does not work as our expected, try to understand its architecture
- Provide code snippet about architecture

**Acceptance Criteria**
- We should have consensus about how we move with C-RNN-

[2019-03-09 22:06] halil-erdogan commented on #38
- [Official Implementation](https://github.com/olofmogren/c-rnn-gan)
- C-RNN-GAN based [_Pokemon Music Generation_](https://towardsdatascience.com/generating-pokemon-inspired-music-from-neural-networks-bc240014132?gi=4a4ed82686b9)

[2019-03-10 22:25] halil-erdogan commented on #38
- I will dive into [Source Code](https://github.com/olofmogren/c-rnn-gan/blob/master/rnn_gan.py#L222).

- This is the discriminator and generator code from _Pokemon Music Generation_, however, some hyper-parameters can be not same with the source code of official implementation. I will check it asap. 🖲

[code]

[2019-03-11 20:49] halil-erdogan commented on #38
This [post](https://www.wouterbulten.nl/blog/tech/getting-started-with-generative-adversarial-networks/) will be helpful.

I think the implementation of C-RNN-GAN is more or less same with the following codes. _(Not the exact one. We are using different decay and loss function.)_
[code]

[2019-03-11 20:55] halil-erdogan opened #39 "Check Architecture of Music-VAE"
**One-line summary (optional)**
- Learn the which architectures(layers, dropout rates etc.) are used by MusicVAE

**Reason**
- We would like to reproduce MusicVAE

**Design**
- [Check their code.](https://github.com/tensorflow/magenta/tree/master/magenta/models/music_vae)
- Read their [blogpost](https://magenta.tensorflow.org/music-vae) and [the paper](https://arxiv.org/abs/1803.05428).
- Create s

[2019-03-11 21:36] halil-erdogan opened #40 "Check Architecture of RL-Tuner"
**One-line summary (optional)**
- Learn the which architectures(layers, dropout rates etc.) are used by RL-Tuner

**Reason**
- We would like to reproduce RL-Tuner

**Design**
- [Check their code.](https://github.com/tensorflow/magenta/tree/master/magenta/models/rl_tuner)
- Read their [blogpost](https://magenta.tensorflow.org/2016/11/09/tuning-recurrent-networks-with-reinforcement-learning) and [th

[2019-03-12 13:12] halil-erdogan opened #41 "Can we use Koma53 to Midi Conversion?"
**One-line summary (optional)**
-  Discuss to _can we use generated midi which is based on Koma53 values?_

**Reason**
- We would like to reuse other models and we can not use them with our midis. If we can convert our midis into that type, we can use it.

**Design**
- We will discuss the idea.

Lets say we have 200, 205, 210, ... as Koma53 values. Convert these into 48, 49, 50 etc. After that use

[2019-03-13 21:33] halil-erdogan opened #42 "Write a Script to Download Selected Text File"
**One-line summary (optional)**
- Download [selected piece's](https://github.com/sertansenturk/otmm_generation_dataset/blob/e0cb663d1eb3cb326d81b4fc1d769a15e7501420/metadata.json) text file.

**Reason**
- I would like to give a chance to #41

**Design**
- Learn name of files from [json file](https://github.com/sertansenturk/otmm_generation_dataset/blob/e0cb663d1eb3cb326d81b4fc1d769a15e7501420/meta

[2019-03-13 22:11] halil-erdogan commented on #42
This script should work. I have tested it. 🎱

[code]

Note that, we can take the count of files in the folder with this command.
[code]

It should give 451.

[2019-03-13 22:32] halil-erdogan opened #43 "Text to Midi Converter"
**One-line summary (optional)**
- Create text to midi converter.

**Reason**
- To use open source libraries with our dataset.

**Design**
- Most algorithm use min_note as 48 and max_note as 84. We can map our Koma53 inputs into that size of vocabulary. After that, we can convert into exact midi pitch according to our Koma53 values.
- Lets say we have 200, 205, 210, ... as Koma53 values. Convert th

[2019-03-13 22:33] halil-erdogan commented on #41
I will give a shot for this idea. Please check #43 to follow progress.

[2019-03-13 22:36] halil-erdogan commented on #42
I will add this code into our repository with new PR .

[2019-03-14 22:24] halil-erdogan commented on #43
I am still working on this. You can find snippet of codes. Now, it somehow works. But, i need to test it asap. 🛌

[code]

[code]

[2019-03-15 17:00] hedonistrh commented on #43
If I would like to use [midi util](https://github.com/MarkCWirt/MIDIUtil), I should change idea behind duration and tempo at my implementation.!

[2019-03-16 13:40] halil-erdogan commented on #43
I created midi with midi util, however, magenta RNN gives same exception for half of the files. Also, I have tried to [_pretty-midi_](https://github.com/craffel/pretty-midi), however, got same exception. 😞 I will try to understand reason behind that.

**Edit**
If I choose always 1.0 as a duration(offset), it does not give exception, however, if I choose always 0.1 as a duration(offset) it always g

[2019-03-16 22:19] halil-erdogan commented on #43
This code block should works. I will test it.

[code]

[2019-03-16 22:53] halil-erdogan opened #44 "How to Learn Tempo of Song"
**Reason**
- I need this info to create midi from .txt file #43

**Design**
- Read midi files via python module and learn it. I can use [pretty midi](https://nbviewer.jupyter.org/github/craffel/pretty-midi/blob/master/Tutorial.ipynb#Timing-information) to read it.
- Store them in txt or csv file.

**Acceptance Criteria**
- I will check some files via garageband to be sure about the info.

**Outcom

[2019-03-17 15:11] halil-erdogan commented on #44
This code block works. 👍 I will add this script and corresponding txt into a repo.

[code]

[2019-06-27 20:31] sertansenturk opened #45 "Estimations"
**One-line summary**
Determine how we estimate the velocity of the tickets

**Reason**
We need to get an agreement how we measure the difficulty/time needed etc. for a ticket

**Design**
- Set a meeting with
- Explain him different estimation methods (points, t-shirt size etc.).
- Whichever method is selected, define how we understand different velocities (or if we need to set points at all)

**Ac

[2019-06-27 20:32] sertansenturk commented on #45
duplicate

[2019-06-27 20:32] #45 closed, assigned to nobody